.sec2-title{
 font-size: 28px;
 font-weight: bold;
 color: #fff;
 text-align: center;
 padding: 0 35%;
 margin-bottom: 10px;
}
.sec2-text{
color: #737373;
font-size: 10px;
font-weight: 500;
text-align: center;
}
.business{
 display: flex;
 margin: 1rem;
 border: 1px solid #fff;
 padding: 2rem .5rem;
}
.bus-title{
 font-size: 11px;
 margin-bottom: 5px;
 font-weight: 700;
 color: #fff;
}
.img1{
 width: auto;
 height: 26.63px;
 margin-right: 10px;
}
.bus-text{
 color: #fff;
 width: 85%;
 font-size: 10px;
 font-weight: 500;
}
.business-f{
 display: flex;
 flex-wrap: wrap;
 padding: 0 15vw;
 justify-content: center;
 align-items: center;
 margin-top: 50px;
}
.sec-busnies{
 margin-top: 208px;
}